<div class="bgComponent">
  <div class="form">
    <mat-card class="card">
      <mat-card-title>Register Group</mat-card-title>
      <mat-card-content>
        <div class="container">
          <mat-form-field>
            <input matInput placeholder="Number of group" required />
          </mat-form-field>
          <mat-form-field>
            <input type="text" matInput placeholder="Code of group" required />
          </mat-form-field>
          <mat-form-field>
            <input
              type="text"
              matInput
              placeholder="Teacher of group"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <input
              type="number"
              matInput
              placeholder="Cant of students"
              required
            />
          </mat-form-field>
        </div>
        <mat-card-actions>
          <button class="button colorButton" mat-raised-button>Register</button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </div>
</div>
